@using SuperMarket.Models.ViewModels;
@model ProductVM

<form method="post" enctype="multipart/form-data" asp-action="Upsert">

    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.Categories" hidden />

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Product.Id == 0 ? "Create" : "Update") Product</h2>
        </div>

        <div class="mb-3">
            <label>Select Categories:</label>
            @foreach (var category in Model.CategoryList)
            {
                var categoryId = category.Value;
                var categoryName = category.Text;
                <div class="form-check">
                    <input type="checkbox" id="category_@categoryId" name="SelectedCategories" value="@categoryId" class="form-check-input" @(Model.SelectedCategories.Contains(Convert.ToInt32(categoryId)) ? "checked" : "") />
                    <label class="form-check-label" for="category_@categoryId">@categoryName</label>
                </div>
            }
        </div>

       @* <div class="mb-3">
            <label>Select Categories:</label>
            @foreach (var category in Model.CategoryList)
            {
                <div class="form-check">
                    <input type="checkbox" id="category_@category" name="SelectedCategories" value="@category" class="form-check-input" @(Model.CategoryList.Contains(category) ? "checked" : "") />
                    <label class="form-check-label" for="category_@category"></label>
                </div>
            }
        </div>*@

@*
        <div class="mb-3">
            <label asp-for="Product.CategoryId"></label>
            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                <option disabled selected>----Select Make----</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-primary"></span>
        </div>*@

        <div class="mb-3">
            <label asp-for="Product.BarCode" class="p-0"></label>
            <input asp-for="Product.BarCode" type="text" class="form-control" />
            <span asp-validation-for="Product.BarCode" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Product.Name" class="p-0"></label>
            <input asp-for="Product.Name" type="text" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Product.Price" class="p-0"></label>
            <input asp-for="Product.Price" type="text" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label asp-for="Product.Unit" class="p-0"></label>
            <input asp-for="Product.Unit" type="text" class="form-control" />
            <span asp-validation-for="Product.Unit" class="text-danger"></span>
        </div>  

        <div class="mb-3">
            <label asp-for="Product.InStock" class="p-0"></label>
            <input asp-for="Product.InStock" type="text" class="form-control" />
            <span asp-validation-for="Product.InStock" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Product.IsActive" class="p-0"></label>
            <input asp-for="Product.IsActive" type="text" class="form-control" />
            <span asp-validation-for="Product.IsActive" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Product.PictureUrl" class="p-0"></label>
            <input asp-for="Product.PictureUrl" type="text" class="form-control" />
            <span asp-validation-for="Product.PictureUrl" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Save</button>
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Return to list</a>

    </div>

</form>

@section Scripts{

    <script src="https://cdn.tiny.cloud/1/15ppzj17t7o6klw3o2ryc501mp6jdbk1079w8wuxbsupg3u3/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
}