@using System.Globalization
@using SuperMarket.Models;
@model Product

<div class="card  container pt-4">
    <div class="card-header bg-primary text-light ml-0  row ">
        <div class="col-12 col-md-6">
            <h1 class="text-white-50">@Model.Name</h1>

        </div>
        <div class="col-12 col-md-6 text-end pt-4">
            <span class="badge bg-warning pt-2" style="height:30px;">@Model.BarCode</span>
        </div>
    </div>
    <div class="card-body row container">
        <div class="container rounded p-2">
            <div class="row">
                <div class="col-8 col-lg-8">
                    <div class="row pl-2">
                        <h5 class="text-muted pb-2">Price:@Model.Price.ToString("C", CultureInfo.GetCultureInfo("es-cr"))</h5>
                    </div>
                    <div class="row pl-2">
                        <p class="text-secondary">@Html.Raw(Model.Name)</p>
                    </div>
                </div>
                <div class="col-12 col-lg-3 offset-lg-1 text-center">
                    <img src="~/@Model.PictureUrl" width="100%" class="rounded" />
                </div>
                <div class="col-12 py-2">
                    Quantity : <input type="number" value="1" max="@Model.InStock" min="1" id="quantity" />
                </div>

            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-12 col-md-6 pb-1">
                <a class="btn btn-success form-control " style="height:50px;" asp-action="Index">Back to Home</a>
            </div>
            <div class="col-12 col-md-6 pb-1">
                <button onclick="AddToCart()" class="btn btn-primary" style="height:50px; width:100%;">Add to cart</button>
            </div>
        </div>
    </div>
</div>

<script>
    function AddToCart() {
        var quantity = document.getElementById("quantity").value;

        var cart = localStorage.getItem("cart");
        if (cart == null) {
            // no cart yet
            var cart = [];
            cart.push({
                "productId": @Model.Id,
                "quantity": quantity
            });
            localStorage.setItem("cart", JSON.stringify(cart));
        } else {
            // cart already exists
            var cart = JSON.parse(localStorage.getItem("cart"));
            var index = cart.findIndex(x => x.productId == @Model.Id);
            if (index == -1) {
                // product not in cart
                cart.push({
                    "productId": @Model.Id,
                    "quantity": quantity
                });
                localStorage.setItem("cart", JSON.stringify(cart));
            } else {
                // product already in cart
                cart[index].quantity = quantity;
                localStorage.setItem("cart", JSON.stringify(cart));
            }
        }
        alert("Product added to cart: " + quantity + " units of " + "@Model.Name");
    }


</script>